@using Admin.Views.AccountConf
@*@model IndexViewModel*@
@{
    ViewData["Title"] = "Configurações";
    ViewData.AddActivePage(AccountConfNav.Index);
}


@*@Html.Partial("_AccountConfNav", Model.StatusMessage)*@

<div class="row">


    <div class="col-md-12">

        <div class="col-lg-12">&nbsp;</div>

        <div class="col-md-4">
            <h4>@ViewData["Title"]</h4>
        </div>

        <div class="col-md-8">
            <button type="button" class="btn btn-dark"><a asp-action="Index">Voltar</a></button>
            <button type="button" class="btn btn-success"><a asp-action="RoleNew">Novo</a></button>
        </div>

        <div class="col-md-12">
            <hr />
        </div>


    </div>



    <div class="col-md-4">
        @Html.Partial("_AccountConfNav")
    </div>



    <div class="col-md-8">

        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">DT Cadastro</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        <button type="button" class="btn btn-dark"><a asp-action="NewMenu">Editar</a></button>
                        <button type="button" class="btn btn-danger">Remover</button>
                    </td>
                    <td>Conta Individual</td>
                    <td>15/01/2019</td>
                </tr>

                <tr>
                    <td>
                        <button type="button" class="btn btn-dark"><a asp-action="NewMenu">Editar</a></button>
                        <button type="button" class="btn btn-danger">Remover</button>
                    </td>
                    <td>Relatório por gestor</td>
                    <td>15/01/2019</td>
                </tr>


                <tr>
                    <td>
                        <button type="button" class="btn btn-dark"><a asp-action="NewMenu">Editar</a></button>
                        <button type="button" class="btn btn-danger">Remover</button>
                    </td>
                    <td> Conta individual com resumo</td>
                    <td>15/01/2019</td>
                </tr>

                <tr>
                    <td>
                        <button type="button" class="btn btn-dark"><a asp-action="NewMenu">Editar</a></button>
                        <button type="button" class="btn btn-danger">Remover</button>
                    </td>
                    <td> Relatório por gestor com resumo</td>
                    <td>15/01/2019</td>
                </tr>

                <tr>
                    <td>
                        <button type="button" class="btn btn-dark"><a asp-action="NewMenu">Editar</a></button>
                        <button type="button" class="btn btn-danger">Remover</button>
                    </td>
                    <td>Conta Telefônica Gerencial</td>
                    <td>15/01/2019</td>
                </tr>

                <tr>
                    <td>
                        <button type="button" class="btn btn-dark"><a asp-action="NewMenu">Editar</a></button>
                        <button type="button" class="btn btn-danger">Remover</button>
                    </td>
                    <td>Consumo por Grupo</td>
                    <td>15/01/2019</td>
                </tr>


            </tbody>
        </table>


        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
